<center>
  <div class="allConainer">
    <div class="body">
      <div class="header"> <a href="#" class="logo"><img src="/assets/Logo.png" width="502" height="101" alt="Hobnint" /></a> </div>
      <div class="bodycontainer">
        <div class="descriptiontxt">
          <h1 class="aplaceforstudent">&nbsp;</h1>
          <ul>
            <li>Unable to find a suitable instructor for your guitar lessons or a tutor for your favorite Science subject?</li>
            <li>As a tutor, do you have limited reach to students?</li>
          </ul>
          <div>If yes, then we are building something useful for you. Share your details and be the first ones to try our service </div>
        </div>
        
        <%= form_for @user, :remote => true do |f| %>
        <div class="formContainer">
          <ul>
            <li>
              <table width="398" class="selectiontable">
                <tr>
		  <td width='18'><%= f.radio_button :registration_type, User::RegistrationType[:student], :checked => true %></td>
                  <td width="115">I am a Student</td>
                  <td width="10">&nbsp;</td>
                  <td width="16"><%= f.radio_button :registration_type, User::RegistrationType[:tutor], :checked => false %></td>
                  <td width="152">I am a Tutor</td>
                </tr>
              </table>
            </li>
            <li>
		<%= f.text_field :email, :class => 'inputbox', :value => 'Email', :onfocus => "clickclear(this, 'Email')",
                                                               :onblur => "clickrecall(this,'Email')" %>
		<span id='email_error'></span>
            </li>
            <li>
		<%= f.text_field :city, :class => 'inputbox', :value => 'City', :onfocus => "clickclear(this, 'City')",
                                                               :onblur => "clickrecall(this,'City')" %>
		<span id='city_error'></span>
            </li>
            <li>
		<%= select_tag 'user[interest_ids][]', options_for_select(Interest.default.collect{|i| [i.title, i.id]}), {:id => 'select', :class => 'inputbox', :multiple => "multiple"} %>
                <%= f.text_field :other_interests, :class => 'inputbox' %>
            </li>
            <li>
              <center>
              	<%= f.submit "", :id => "btnKeepMeInformed", :class => "submitbtn" %>
                <!--<input name="" class="submitbtn" type="button" /> -->
              </center>
            </li>
          </ul>
        </div>
        <% end %>
      </div>

      <div class="launchingsoon"></div>
    </div>
    <div class="footer"></div>
  </div>
</center>
